<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="projects-section">
	<section class="section projects" id="projects">
		<div class="container">
			<div class="section-title-container">
				<h2 class="section-title">My Work</h2>
				<p class="section-subtitle">
					Explore some of my recent Projects
				</p>
			</div>
			<div class="projects-container">
				<div class="project-card">
					<div class="project-image">
						<img src="/images/enjoy.png" alt="booking">
						<div class="project-overlay"></div>
						<div class="project-tags">
							<span class="project-tag">Spring Boot</span>
							<span class="project-tag">Spring Security</span>
							<span class="project-tag">Data JPA</span>
							<span class="project-tag">MySQL</span>
							<span class="project-tag">AWS</span>
							<span class="project-tag">Postman</span>
						</div>
					</div>
					<div class="project-content">
						<h3 class="project-title">Build REST APIs with Spring and Spring Boot</h3>
						<p class="project-description">
							In this project, I learned how to create a production-grade REST API that connects to a
							MySQL database using JPA and Hibernate.
						 </p>
						<div class="project-links">
							<a href="https://github.com/code-crafter-sandy/Enjoy_Traveling_With_Us.git"
								class="project-link" target="_blank">
								<i class="fab fa-github"></i> View Code
							</a>

						</div>
					</div>
				</div>

				
					

				<div class="project-card">
					<div class="project-image">
						<img src="/images/thumbnail2.jpg" alt="Ener Tracker">
						<div class="project-overlay"></div>
						<div class="project-tags">
							<span class="project-tag">Spring Boot</span>
							<span class="project-tag">React</span>
							<span class="project-tag">Bootstrap</span>
							<span class="project-tag">MongoDB</span>
							<span class="project-tag">AWS</span>
							<span class="project-tag">IntelliJ IDEA</span>
							<span class="project-tag">Full Stack</span>
						</div>
					</div>
					<div class="project-content">
						<h3 class="project-title">Online Food Delivery Application</h3>
						<p class="project-description">
							In this project, I built a full-stack online food delivery application for a small restaurant business, including an admin panel to manage food items and orders.
						</p>
						<div class="project-links">
							<a href="https://github.com/code-crafter-sandy/Food_Delivery.git" class="project-link" target="_blank">
								<i class="fab fa-github"></i> View Code
							</a>
							
						</div>
					</div>
				</div>

				<div class="project-card">
					<div class="project-image">
						<img src="/images/micro.png" alt="Freelance retail billing software">
						<div class="project-overlay"></div>
						<div class="project-tags">
							<span class="project-tag">Spring Boot</span>
							<span class="project-tag">MySQL</span>
							<span class="project-tag">STS</span>
							<span class="project-tag">Microservices</span>
							<span class="project-tag">Eureka Server</span>
						</div>
					</div>
					<div class="project-content">
						<h3 class="project-title">Review & Rating System</h3>
						<p class="project-description">
							Developed a microservices-based Review & Rating System using Spring Boot. Used Eureka for service discovery, with separate services for users, reviews, and ratings to ensure modularity and scalability.
						</p>
						<div class="project-links">
							<a href="https://github.com/code-crafter-sandy/Microservices.git" class="project-link" target="_blank">
								<i class="fab fa-github"></i> View Code
							</a>
							
						</div>
					</div>
				</div>
						
				</div>

			</div>
		</div>
	</section>
</th:block>

</html>